@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* write your CSS here */

body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.icon-container {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
}

.icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.options-container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-options {
  color: white;
  font-size: medium 18px;
  cursor: pointer;
  font-size: 18px;
}

.navbar-options:hover {
  color: #e9dcff;
}

.button-container {
  display: flex;
  flex: 1 1 30%;
  justify-content: center;
  gap: 1rem;
}

.buttons {
  height: 54px;
  width: 132px;
  cursor: pointer;
  background-color: #e9dcff;
  color: #1e1e1e;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

.buttons:hover {
  background-color: #ccbee6;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 99vw;
  gap: 5rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 294px;
  width: 542px;
  color: white;
}

.hero-header {
  letter-spacing: 0.5rem;
  color: #e9dcff;
  font-size: 18px;
}

.hero-text {
  font-size: 55px;
  font-weight: 600;
}

.download-button {
  display: flex;
  height: 66px;
  width: 188px;
  justify-content: center;
  align-items: center;
}

.download-icon {
  margin-left: 0.7em;
  height: 22px;
  width: 22px;
}
